.editor {
  /* account for the panel title */
  height: calc(100% - 2rem);
}

.editor > div {
  height: 100%;
}

.editor * {
  background: transparent;
  font-size: 0.75rem;
  border: none;
}

.editor :global(.cm-activeLine),
.editor :global(.cm-activeLineGutter) {
  background: #181818;
}

.editor :global(.cm-gutters) {
  background: transparent;
}

.editor :global(.cm-content),
.editor :global(.cm-scroller) {
  line-height: 1.5;
  padding: 0;
}

:global(.cm-editor.cm-focused .cm-selectionBackground),
:global(.cm-editor .cm-selectionBackground),
:global(.cm-editor ::selection) {
  background-color: #181818;
}
